* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #10151A;
}

.container {
    display: flex;
    flex-direction: row;
}

.container24 {
    display: flex;
    width: 1535px;
    height: auto;
    justify-content: center;
    transform: translate(0px, 180px);
}

.container24-1 {
    display: flex;
    width: 1100px;
    height: auto;
    transform: translate(220px, 280px);
    flex-direction: row;
    gap: 25px;
    position: relative;
    z-index: 1;
}

.container24-2 {
    display: flex;
    width: 1100px;
    height: auto;
    position: relative;
    z-index: 2;
    transform: translate(315px, -35px);
    gap: 210px;
}

.container24-3 {
    color: #10151A;
    display: flex;
    width: 1100px;
    height: auto;
    position: relative;
    z-index: 2;
    transform: translate(245px, -5px);
    gap: 265px;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 22px;
}

.container24-4 {
    color: #10151A;
    display: flex;
    width: 1100px;
    height: auto;
    position: relative;
    z-index: 2;
    transform: translate(245px, -5px);
    gap: 215px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container24-5 {
    color: #10151A;
    display: flex;
    width: 800px;
    height: auto;
    transform: translate(410px, -20px);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
    position: relative;
    z-index: 2;
    gap: 235px;
}

.blauw {
    background-color: #10151A;
    width: 100%;
    height: 104px;
    display: flex;
}

.pink {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.85px;
    margin-left: -1402px;
    margin-top: 33px;
}

.goose {
    color: #FFB4D3;
    font-size: 40px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.85px;
    margin-left: 10px;
    margin-top: 33px;
}

.home {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 220px;
    margin-top: 45px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffffff;
}


.learn {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 40px;
    margin-top: 45px;
    cursor: pointer;
}


.about {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 40px;
    margin-top: 45px;
    cursor: pointer;
}


.contact {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 40px;
    margin-top: 10px;
    cursor: pointer;
}


.login {
    color: #ffffff;
    font-size: 20px;
    font-weight: Medium;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.85px;
    margin-left: 200px;
    margin-top: 30px;
    background-color: #243241;
    cursor: pointer;
    width: 100px;
    height: 45px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.our-heroes {
    font-size: 27px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
}

.pinkblock {
    width: 350px;
    height: 335px;
    background-color: #FFB4D3;
    border-radius: 5%;
}

.ux-dev {
    transform: translatex(120px)
}

.blackarrow {
    margin-left: 7px;
}

.contact {
    color: #10151A;
    display: flex;
    align-items: center;
}

.container11 {
    color: #ffffff;
    display: flex;
    width: 1140px;
    height: 390px;
    background-color: #152431;
    transform: translate(190px, 300px);
    border-radius: 25px;
    border: 2px solid #2A3744;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.container11-1 {
    width: 600px;
    height: auto;
    background-color: #152431;
    transform: translate(500px, 50px);
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #516375;

}

.container11-2 {
    display: flex;
    width: 700px;
    height: auto;
    background-color: #152431;
    transform: translate(440px, 120px);
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #516375;
    flex-direction: row;
    gap: 20px;
}

.container12 {
    color: #ffffff;
    display: flex;
    width: 1140px;
    height: auto;
    background-color: #10151A;
    transform: translate(190px, 350px);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    gap: 910px;
}

.container12-1 {
    transform: translate(400px, 240px);
    width: 50px;
    height: auto;
}

.container13 {
    display: flex;
    width: 1140px;
    height: auto;
    background-color: #10151A;
    transform: translate(190px, 380px);
    border-radius: 25px;
    gap: 30px;
}

.container13-1 {
    display: flex;
    width: 1140px;
    height: auto;
    transform: translate(215px, 35px);
    gap: 265px;
}

.container13-2 {
    color: #10151A;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(215px, 60px);
    background-color: #77E6FF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.container13-3 {
    color: #10151A;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(610px, -20px);
    background-color: #E2C1F9;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.container13-4 {
    color: #10151A;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(1000px, -100px);
    background-color: #DBE268;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.container14 {
    color: #10151A;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(215px, -90px);
    background-color: #77E6FF;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container14-1 {
    color: #10151A;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(610px, -155px);
    background-color: #E2C1F9;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container14-2 {
    color: #10151A;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(1000px, -235px);
    background-color: #DBE268;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container15 {
    color: #10151A;
    display: flex;
    width: 70px;
    height: auto;
    transform: translate(215px, -160px);
    background-color: #77E6FF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
}

.container15-1 {
    color: #10151A;
    display: flex;
    width: 70px;
    height: auto;
    transform: translate(610px, -180px);
    background-color: #E2C1F9;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
}

.container15-2 {
    color: #10151A;
    display: flex;
    width: 70px;
    height: auto;
    transform: translate(1000px, -200px);
    background-color: #DBE268;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
}

.container16 {
    color: #ffffff;
    display: flex;
    width: 1140px;
    height: auto;
    background-color: #10151A;
    transform: translate(190px, 50px);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    gap: 830px;
}

.container16-1 {
    transform: translate(85px, -55px);
    width: 50px;
    height: auto;
}

.container17 {
    display: flex;
    width: 1140px;
    height: auto;
    background-color: #10151A;
    transform: translate(190px, 25px);
    border-radius: 25px;
    gap: 30px;
}

.container17-1 {
    display: flex;
    width: 1140px;
    height: auto;
    transform: translate(215px, -290px);
    gap: 340px;
}

.container17-2 {
    color: #ffffff;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(215px, -265px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.container17-3 {
    color: #ffffff;
    display: flex;
    width: 305px;
    height: auto;
    transform: translate(610px, -315px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.container17-4 {
    color: #ffffff;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(1000px, -385px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.container18 {
    color: #B9BBBD;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(215px, -370px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container18-1 {
    color: #B9BBBD;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(610px, -365px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container18-2 {
    color: #B9BBBD;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(1000px, -410px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container19 {
    color: #B9BBBD;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(215px, -405px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container19-1 {
    color: #B9BBBD;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(610px, -400px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container19-2 {
    color: #B9BBBD;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(1000px, -445px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container20 {
    color: #ffffff;
    display: flex;
    width: 75px;
    height: auto;
    transform: translate(215px, -370px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
}

.container20-1 {
    color: #ffffff;
    display: flex;
    width: 80px;
    height: auto;
    transform: translate(610px, -390px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
}

.container20-2 {
    color: #ffffff;
    display: flex;
    width: 75px;
    height: auto;
    transform: translate(1000px, -410px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
}

.container23 {
    width: 1519px;
    height: 168px;
    background-color: #121E28;
}

.container23-1 {
    color: #ffffff;
    display: flex;
    width: 310px;
    height: 168px;
    flex-direction: row;
    transform: translateX(600px);
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    gap: 60px;
    font-size: 22px;
}

.container23-2 {
    display: flex;
    width: 310px;
    height: 168px;
    transform: translateX(1000px);
    transform: translate(1050px, -165px);
    align-items: center;
    gap: 15px;
}

.weekly {
    transform: translate(0px, 50px);
    font-size: 26px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.latest-news {
    font-size: 36px;
    font-weight: bold;
}

.email-input {
    color: #ffffff;
    background-color: #121E28;
    width: 500px;
    height: 70px;
    border: 3px solid #2A3744;
    border-radius: 16px;
    font-size: 20px;
    font-weight: normal;
    text-indent: 30px;
}

.subscribe {
    font-size: 20px;
    color: #10151A;
    display: flex;
    background-color: #CEAAFF;
    border-radius: 16px;
    width: 175px;
    height: 70px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

.press {
    font-size: 22px;
    font-family: Helvetica, sans-serif;
}

.see-all {
    color: #8395A7;
    display: flex;
    font-size: 22px;
    align-items: center;
    cursor: pointer;
}

.pr {
    margin-left: 10px;
}

.blokblue {
    background-color: #77E6FF;
    width: 360px;
    height: 380px;
    border-radius: 5%;
}

.blokpink {
    background-color: #E2C1F9;
    width: 360px;
    height: 380px;
    border-radius: 5%;
}

.blokyellow {
    background-color: #DBE268;
    width: 360px;
    height: 380px;
    border-radius: 5%;
}

.logo-decrypt {
    width: 120px;
    height: 40px;
}

.logo-blockworks {
    width: 140px;
    height: 22px;
}

.logo-techCrunch {
    width: 160px;
    height: 30px;
}

.read {
    display: flex;
    align-items: center;
}

.arrowread {
    margin-left: 7px;
}

.podcasts {
    font-size: 22px;
    font-family: Helvetica, sans-serif;
}

.blokzward {
    background-color: #121E28;
    width: 360px;
    height: 335px;
    border-radius: 5%;
    border: 2px solid #2A3744;
}

.blokzward {
    background-color: #121E28;
    width: 360px;
    height: 335px;
    border-radius: 5%;
    border: 2px solid #2A3744;
}

.blokzward {
    background-color: #121E28;
    width: 360px;
    height: 335px;
    border-radius: 5%;
    border: 2px solid #2A3744;
}

.listen {
    display: flex;
    align-items: center;
}

.watch {
    display: flex;
    align-items: center;
}

.arrowwit {
    margin-left: 7px;
    margin-top: 2px;
}

