* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #10151A;
}

.container {
    display: flex;
    flex-direction: row;
}

.container2 {
    display: flex;
    justify-content: center;
    width: 1144px;
    height: auto;
    background-color: #10151A;
    transform: translate(200px, 650px);
}

.container2-1 {
    transform: translate(350px, 550px);
    width: 50px;
    height: auto;
}

.container2-2 {
    transform: translate(1030px, 500px);
    width: 50px;
    height: auto;
}

.container3 {
    display: flex;
    justify-content: center;
    width: 1144px;
    height: auto;
    background-color: #10151A;
    transform: translate(200px, 700px);
    gap: 25px;
}

.container4 {
    color: #ffffff;
    display: flex;
    width: 1144px;
    height: auto;
    background-color: #10151A;
    transform: translate(215px, 720px);
    gap: 100px;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
}

.container5 {
    display: flex;
    justify-content: center;
    width: 1144px;
    height: auto;
    background-color: #10151A;
    transform: translate(200px, 900px);
    font-weight: bold;
    font-style: normal;
    font-size: 25px;
    color: #ffffff;
}

.container6 {
    display: flex;
    justify-content: center;
    width: 1144px;
    height: auto;
    background-color: #10151A;
    transform: translate(200px, 975px);
}

.container7 {
    color: #ffffff;
    display: flex;
    width: 720px;
    height: auto;
    background-color: #10151A;
    transform: translate(360px, 1025px);
    font-size: 35px;
    font-weight: bold;
    flex-direction: row;
    gap: 20px;
}

.container8 {
    color: #ffffff;
    display: flex;
    width: 750px;
    height: auto;
    background-color: #10151A;
    transform: translate(330px, 1040px);
    font-size: 35px;
    font-weight: bold;
    flex-direction: row;
    gap: 20px;
}

.container9 {
    color: #ffffff;
    display: flex;
    width: 750px;
    height: auto;
    background-color: #10151A;
    transform: translate(345px, 1055px);
    font-size: 35px;
    font-weight: bold;
    flex-direction: row;
    gap: 20px;
}

.container10 {
    color: #ffffff;
    display: flex;
    width: 390px;
    height: auto;
    background-color: #10151A;
    transform: translate(570px, 1070px);
    font-size: 35px;
    font-weight: bold;
    flex-direction: row;
    gap: 20px;
}

.container11 {
    color: #ffffff;
    display: flex;
    width: 1140px;
    height: 390px;
    background-color: #152431;
    transform: translate(190px, 1300px);
    border-radius: 25px;
    border: 2px solid #2A3744;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}

.container11-1 {
    width: 600px;
    height: auto;
    background-color: #152431;
    transform: translate(500px, 1050px);
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #516375;

}

.container11-2 {
    display: flex;
    width: 700px;
    height: auto;
    background-color: #152431;
    transform: translate(440px, 1120px);
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #516375;
    flex-direction: row;
    gap: 20px;
}

.container12 {
    color: #ffffff;
    display: flex;
    width: 1140px;
    height: auto;
    background-color: #10151A;
    transform: translate(190px, 1350px);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    gap: 910px;
}

.container12-1 {
    transform: translate(400px, 1240px);
    width: 50px;
    height: auto;
}

.container13 {
    display: flex;
    width: 1140px;
    height: auto;
    background-color: #10151A;
    transform: translate(190px, 1380px);
    border-radius: 25px;
    gap: 30px;
}

.container13-1 {
    display: flex;
    width: 1140px;
    height: auto;
    transform: translate(215px, 1035px);
    gap: 265px;
}

.container13-2 {
    color: #10151A;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(215px, 1060px);
    background-color: #77E6FF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.container13-3 {
    color: #10151A;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(610px, 980px);
    background-color: #E2C1F9;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.container13-4 {
    color: #10151A;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(1000px, 900px);
    background-color: #DBE268;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.container14 {
    color: #10151A;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(215px, 910px);
    background-color: #77E6FF;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container14-1 {
    color: #10151A;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(610px, 845px);
    background-color: #E2C1F9;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container14-2 {
    color: #10151A;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(1000px, 765px);
    background-color: #DBE268;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container15 {
    color: #10151A;
    display: flex;
    width: 70px;
    height: auto;
    transform: translate(215px, 840px);
    background-color: #77E6FF;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
}

.container15-1 {
    color: #10151A;
    display: flex;
    width: 70px;
    height: auto;
    transform: translate(610px, 820px);
    background-color: #E2C1F9;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
}

.container15-2 {
    color: #10151A;
    display: flex;
    width: 70px;
    height: auto;
    transform: translate(1000px, 800px);
    background-color: #DBE268;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
}

.container16 {
    color: #ffffff;
    display: flex;
    width: 1140px;
    height: auto;
    background-color: #10151A;
    transform: translate(190px, 1050px);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    gap: 830px;
}

.container16-1 {
    transform: translate(85px, 945px);
    width: 50px;
    height: auto;
}

.container17 {
    display: flex;
    width: 1140px;
    height: auto;
    background-color: #10151A;
    transform: translate(190px, 1025px);
    border-radius: 25px;
    gap: 30px;
}

.container17-1 {
    display: flex;
    width: 1140px;
    height: auto;
    transform: translate(215px, 710px);
    gap: 340px;
}

.container17-2 {
    color: #ffffff;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(215px, 735px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.container17-3 {
    color: #ffffff;
    display: flex;
    width: 305px;
    height: auto;
    transform: translate(610px, 685px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.container17-4 {
    color: #ffffff;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(1000px, 615px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.container18 {
    color: #B9BBBD;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(215px, 630px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container18-1 {
    color: #B9BBBD;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(610px, 635px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container18-2 {
    color: #B9BBBD;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(1000px, 590px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container19 {
    color: #B9BBBD;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(215px, 595px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container19-1 {
    color: #B9BBBD;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(610px, 600px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container19-2 {
    color: #B9BBBD;
    display: flex;
    width: 300px;
    height: auto;
    transform: translate(1000px, 555px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

.container20 {
    color: #ffffff;
    display: flex;
    width: 75px;
    height: auto;
    transform: translate(215px, 630px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
}

.container20-1 {
    color: #ffffff;
    display: flex;
    width: 80px;
    height: auto;
    transform: translate(610px, 610px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
}

.container20-2 {
    color: #ffffff;
    display: flex;
    width: 75px;
    height: auto;
    transform: translate(1000px, 590px);
    background-color: #121E28;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 17px;
    flex-direction: row;
    cursor: pointer;
}

.container21 {
    transform: translate(710px, 690px);
    width: 50px;
    height: auto;
}

.container22 {
    display: flex;
    width: 1140px;
    height: 306px;
    background-color: #10151A;
    align-items: center;
    transform: translate(190px, 790px);
    flex-direction: column;
    gap: 25px;
    font-family: "Montserrat", sans-serif;
}

.container22-1 {
    display: flex;
    width: 600px;
    height: auto;
    background-color: #10151A;
    transform: translate(-10px, 20px);
    gap: 25px;
}

.container22-2 {
    display: flex;
    transform: translate(-95px, -73px);
    gap: 255px;
}

.container22-3 {
    display: flex;
    transform: translate(-25px, -147px);
    gap: 210px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.container22-4 {
    display: flex;
    transform: translate(23px, -170px);
    gap: 165px;
    font-family: "Montserrat", sans-serif;
    font-weight: medium;
    font-size: 16px;
}

.container23 {
    width: 1519px;
    height: 168px;
    background-color: #121E28;
    transform: translateY(1000px)
}

.container23-1 {
    color: #ffffff;
    display: flex;
    width: 310px;
    height: 168px;
    flex-direction: row;
    transform: translateX(600px);
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    gap: 60px;
    font-size: 22px;
}

.container23-2 {
    display: flex;
    width: 310px;
    height: 168px;
    transform: translateX(1000px);
    transform: translate(1050px, -165px);
    align-items: center;
    gap: 15px;
}



.blauw {
    background-color: #10151A;
    width: 100%;
    height: 104px;
    display: flex;
}

.pink {
    color: white;
    font-size: 40px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.85px;
    margin-left: -1402px;
    margin-top: 33px;
}

.goose {
    color: #FFB4D3;
    font-size: 40px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.85px;
    margin-left: 10px;
    margin-top: 33px;
}

.home {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 220px;
    margin-top: 45px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #ffffff;
}


.learn {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 40px;
    margin-top: 45px;
    cursor: pointer;
}


.about {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 40px;
    margin-top: 45px;
    cursor: pointer;
}


.contact {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 40px;
    margin-top: 45px;
    cursor: pointer;
}


.login {
    color: #ffffff;
    font-size: 20px;
    font-weight: Medium;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: 0.85px;
    margin-left: 200px;
    margin-top: 30px;
    background-color: #243241;
    cursor: pointer;
    width: 100px;
    height: 45px;
    border-radius: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}


.eas {
    color: #ffffff;
    font-size: 72px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    left: 50%;
    margin-top: 140px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
}

.start {
    color: #ffffff;
    font-size: 72px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    left: 50%;
    margin-top: 225px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
}

.all-in-one {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    left: 50%;
    margin-top: 325px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
}

.decentralized {
    color: #ffffff;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    left: 50%;
    margin-top: 370px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
}

.Get_started {
    color: #000000;
    font-size: 20px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    left: 50%;
    margin-top: 500px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #CEAAFF;
    width: 214px;
    height: 68px;
    border-radius: 16px;
    display: flex;
    cursor: pointer;
}

.arrow {
    width: 20px;
    height: 20px;
    border-left: 4px solid #99585B;
    border-bottom: 4px solid #99585B;
    transform: rotate(-45deg);
    margin: 5px;
    margin-left: 755px;
    margin-top: 700px;
    border-radius: 4px;
}

.arrow2 {
    width: 20px;
    height: 20px;
    border-left: 4px solid #F78787;
    border-bottom: 4px solid #F78787;
    transform: rotate(-45deg);
    margin: 5px;
    margin-left: 755px;
    margin-top: -12px;
    border-radius: 4px;
}

.ready {
    color: #ffffff;
    font-size: 54px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    left: 50%;
    margin-top: 200px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
}

.ster {
    width: 88px;
    height: 89.18px;
    margin-left: 240px;
    margin-top: 140px;
}

.investment {
    font-size: 20px;
    color: #FFB4D3;
    background-color: #182632;
    width: 224px;
    height: 56px;
    margin-left: 315px;
    margin-top: 60px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startup {
    font-size: 20px;
    color: #FFC24C;
    background-color: #182632;
    width: 184px;
    height: 56px;
    margin-left: 25px;
    margin-top: 60px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service {
    font-size: 20px;
    color: #D387F7;
    background-color: #182632;
    width: 181px;
    height: 56px;
    margin-left: 25px;
    margin-top: 60px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.community {
    font-size: 20px;
    color: #77E6FF;
    background-color: #182632;
    width: 228px;
    height: 56px;
    margin-left: 25px;
    margin-top: 60px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.impact {
    font-size: 20px;
    color: #23C9DE;
    background-color: #182632;
    width: 179px;
    height: 56px;
    margin-left: 495px;
    margin-top: 30px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.defi {
    font-size: 20px;
    color: #FF9E9E;
    background-color: #182632;
    width: 153px;
    height: 56px;
    margin-left: 25px;
    margin-top: 30px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more {
    font-size: 20px;
    color: #707F8D;
    background-color: #182632;
    width: 130px;
    height: 56px;
    margin-left: 25px;
    margin-top: 30px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.plus {
    color: #707F8D;
    width: 20px;
    height: 20px;
    margin-left: -105px;
    margin-top: 48px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.art {
    width: 1140px;
    height: 493px;
    margin-left: 180px;
    margin-top: 40px;
    position: relative;
    z-index: 1;

}

.launched {
    font-size: 18px;
    color: #0A1117;
    background-color: #FFB4D3;
    width: 404px;
    height: 56px;
    margin-left: 550px;
    margin-top: -30px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    border-radius: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #0A1117;
    position: relative;
    z-index: 2;
}

.fulljourney {
    color: #ffffff;
    font-size: 54px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin-left: 650px;
    margin-top: 250px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
}

.journey {
    color: #E5E5E5;
    font-size: 54px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    margin-left: 1063px;
    margin-top: 250px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
    text-align: center;
}

.ster2 {
    height: 25px;
    width: 25px;
    margin-left: 1275px;
    margin-top: 180px;
}

.ster3 {
    width: 33.17px;
    height: 33px;
    margin-left: 20px;
    margin-top: 200px;
}

.organisation {
    color: #37424D;
    font-size: 54px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    left: 50%;
    margin-top: 375px;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
}

.smart {
    color: #37424D;
    font-size: 54px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: -1000px;
    margin-top: 430px;
}

.development {
    color: #37424D;
    font-size: 54px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-left: 20px;
    margin-top: 430px;
}

.fundraising {
    color: #37424D;
    font-size: 54px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 45px;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
}

.launch {
    color: #FFB4D3;
    font-size: 54px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 130px;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
}

.member {
    color: #37424D;
    font-size: 54px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 215px;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.contributor {
    color: #37424D;
    font-size: 54px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.goose-operations {
    color: #37424D;
    font-size: 54px;
    font-weight: bolder;
    line-height: 1.2;
    font-family: Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-top: 385px;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
}

.works {
    color: #ffffff;
    font-size: 30px;
    font-weight: bolder;
    font-family: Helvetica, sans-serif;
    text-align: right;
    width: 30%;
}

.ethereumf {
    width: 175px;
    height: 175px;
}

.polygonf {
    width: 175px;
    height: 175px;
}

.gnosis-safef {
    width: 175px;
    height: 175px;
}

.snapshotf {
    width: 175px;
    height: 175px;
}

.ensf {
    width: 175px;
    height: 175px;
}

.openseaf {
    width: 175px;
    height: 175px;
}

.ethereum {
    font-family: "Montserrat", sans-serif;
}

.polygon {
    font-family: "Montserrat", sans-serif;
}

.gnosis-safe {
    font-family: "Montserrat", sans-serif;
    margin-left: -12px;
}

.snapshot {
    font-family: "Montserrat", sans-serif;
    margin-left: -20px;

}

.ens {
    font-family: "Montserrat", sans-serif;
    margin-left: 18px;
}

.opensea {
    font-family: "Montserrat", sans-serif;
    margin-left: 30px;
}

.help-step {
    font-family: Helvetica, sans-serif;
}

.succsess {
    font-family: Helvetica, sans-serif;
}

.sterblauw {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.knowledge {
    font-family: Helvetica, sans-serif;
}

.chat {
    font-family: Helvetica, sans-serif;
}

.sterpaars {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.tutorials {
    font-family: Helvetica, sans-serif;
}

.stergroen {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.templates {
    font-family: Helvetica, sans-serif;
}

.smart-contract {
    font-family: Helvetica, sans-serif;
}

.steroranje {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.events {
    font-family: Helvetica, sans-serif;
}

.education {
    font-family: Helvetica, sans-serif;
}

.stergeel {
    width: 30px;
    height: 30px;
    margin-top: 5px;
}

.guides {
    font-family: Helvetica, sans-serif;
}

.weekly {
    transform: translate(0px, 50px);
    font-size: 26px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.latest-news {
    font-size: 36px;
    font-weight: bold;
}

.email-input {
    color: #ffffff;
    background-color: #121E28;
    width: 500px;
    height: 70px;
    border: 3px solid #2A3744;
    border-radius: 16px;
    font-size: 20px;
    font-weight: normal;
    text-indent: 30px;
}

.subscribe {
    font-size: 20px;
    color: #10151A;
    display: flex;
    background-color: #CEAAFF;
    border-radius: 16px;
    width: 175px;
    height: 70px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
}

.press {
    font-size: 22px;
    font-family: Helvetica, sans-serif;
}

.see-all {
    color: #8395A7;
    display: flex;
    font-size: 22px;
    align-items: center;
    cursor: pointer;
}

.pr {
    margin-left: 10px;
}

.blokblue {
    background-color: #77E6FF;
    width: 360px;
    height: 380px;
    border-radius: 5%;
}

.blokpink {
    background-color: #E2C1F9;
    width: 360px;
    height: 380px;
    border-radius: 5%;
}

.blokyellow {
    background-color: #DBE268;
    width: 360px;
    height: 380px;
    border-radius: 5%;
}

.logo-decrypt {
    width: 120px;
    height: 40px;
}

.logo-blockworks {
    width: 140px;
    height: 22px;
}

.logo-techCrunch {
    width: 160px;
    height: 30px;
}

.read {
    display: flex;
    align-items: center;
}

.arrowread {
    margin-left: 7px;
}

.podcasts {
    font-size: 22px;
    font-family: Helvetica, sans-serif;
}

.blokzward {
    background-color: #121E28;
    width: 360px;
    height: 335px;
    border-radius: 5%;
    border: 2px solid #2A3744;
}

.blokzward {
    background-color: #121E28;
    width: 360px;
    height: 335px;
    border-radius: 5%;
    border: 2px solid #2A3744;
}

.blokzward {
    background-color: #121E28;
    width: 360px;
    height: 335px;
    border-radius: 5%;
    border: 2px solid #2A3744;
}

.listen {
    display: flex;
    align-items: center;
}

.watch {
    display: flex;
    align-items: center;
}

.arrowwit {
    margin-left: 7px;
    margin-top: 2px;
}

.goose-idea {
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.lets-chat {
    color: #5A6C7E;
    font-size: 48px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.telegram-blok {
    width: 280px;
    height: 84px;
    background-color: #FFC803;
    transform: translate(20px, 0px);
    border-radius: 16px;
}

.email-blok {
    width: 280px;
    height: 84px;
    background-color: #E2C1F9;
    transform: translate(20px, 0px);
    border-radius: 16px;
}

.legal {
    color: #FFC803;
}